<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--此处放配置文件引入会无法注入properties属性-->




    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <bean class="com.exam.handler.PropertiesHandler">
        <!--将对password字段进行解密-->
        <constructor-arg ref="aes"/>
        <property name="fileEncoding" value="UTF-8"/>
        <property name="locations" value="classpath:properties/*.properties"/>
    </bean>
    <!--<context:property-placeholder location="classpath:properties/*.properties"/>-->
    <context:component-scan base-package="com.exam.service"/>
    <bean id="SecurityAop" class="com.exam.aspect.SecurityAspect"></bean>
</beans>